{% extends "base.html" %}
{% load compress staticfiles %}

{% block title %} Blogs - healthchecks.io {% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>Monitoring for developers</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo cumque, ipsa necessitatibus, repellat soluta recusandae. Ullam ratione laboriosam maxime accusamus provident dolores aut, nihil molestias. Repellat voluptatum illum in nobis.</p>

		<a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>

	<div class="col-sm-6">
		<h1>Monitoring for developers</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo cumque, ipsa necessitatibus, repellat soluta recusandae. Ullam ratione laboriosam maxime accusamus provident dolores aut, nihil molestias. Repellat voluptatum illum in nobis.</p>

		<a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
		
	</div>
</div>

<hr>

<div class="row">
	<div class="col-sm-8">
		<div class="col-sm-1">
			<div class="thumbnail">
				<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
			</div><!-- /thumbnail -->
		</div>
		<div>
			<p>Shane Harter</p>
			<p>June 11 20</p>
		</div>

		<h2>Scaling Django</h2>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, dolorem distinctio porro quam, ea cupiditate saepe expedita, ipsa tenetur, qui veniam possimus quidem assumenda ipsam architecto dignissimos illum earum illo?
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque accusantium, quia facere obcaecati error accusamus, optio, repellat ad quos mollitia dolores iure placeat hic. Accusamus ipsam nemo reiciendis, doloribus voluptatibus?
		</p>

		<a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

		<hr>
	</div>
	<div class="col-sm-4">
		<h3>Categories:</h3>
		<ul>
			<li><a href=""><i class="icon"></i> Scaling Django</a></li>
			<li><a href=""><i class="icon"></i> Scaling Flask</a></li>
			<li><a href=""><i class="icon"></i> Scaling Something </a></li>
		</ul>

		<hr>

		<div>
			<h3> Subscribe </h3>
				<input type="email" name="subscribe" placeholder="Email Address">
		</div>

		<hr>

		<a class="btn btn-social-icon btn-twitter">
    		<span class="fa fa-"></span>
  		</a>

  		<a href="" id="gh" target="_blank" title="Twitter"><span class="fa-stack fa-lg">
		  <i class="fa fa-square-o fa-stack-2x"></i>
		  <i class="fa fa-twitter fa-stack-1x"></i>
		</span>
		</a>

		<a href=""  target="_blank" title="GitHub"><span class="fa-stack fa-lg">
		  <i class="fa fa-square-o fa-stack-2x"></i>
		  <i class="fa fa-github fa-stack-1x"></i>
		</span>
		</a>

		<a href="" id="gh" target="_blank" title="Twitter"><span class="fa-stack fa-lg">
		  <i class="fa fa-square-o fa-stack-2x"></i>
		  <i class="fa fa-facebook fa-stack-1x"></i>
		</span>
		</a>

		<a href=""  target="_blank" title="GitHub"><span class="fa-stack fa-lg">
		  <i class="fa fa-square-o fa-stack-2x"></i>
		  <i class="fa fa-google-plus fa-stack-1x"></i>
		</span>
		</a>

	</div>

	<div class="col-sm-8">
		<div class="col-sm-1">
			<div class="thumbnail">
				<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
			</div><!-- /thumbnail -->
		</div>
		<div>
			<p>Shane Harter</p>
			<p>June 11 20</p>
		</div>

		<h2>Scaling Django</h2>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, dolorem distinctio porro quam, ea cupiditate saepe expedita, ipsa tenetur, qui veniam possimus quidem assumenda ipsam architecto dignissimos illum earum illo?
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque accusantium, quia facere obcaecati error accusamus, optio, repellat ad quos mollitia dolores iure placeat hic. Accusamus ipsam nemo reiciendis, doloribus voluptatibus?
		</p>

		<img class="img-responsive" src="http://placehold.it/900x300" alt="">

		<a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

		<hr>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/nouislider.min.js' %}"></script>
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script src="{% static 'js/checks.js' %}"></script>
{% endcompress %}
{% endblock %}