{% load hc_extras humanize %}
{% load hc_assign_tag %}
<ul id="checks-list" class="visible-xs">
{% for check in checks_to_display %}
    {% if check in accessible_checks %}
        {% for check_scope in check_scopes %}
            {% if check.code == check_scope.0.check_code %}
                {% define check_scope.1 as scope %}
                {% include "front/check_item_mobile.html" %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% define true_scope as scope %}
        {% include "front/check_item_mobile.html" %}
    {% endif %}
{% endfor %}
</ul>
