{% load hc_extras humanize %}
{% load hc_assign_tag %}
<table id="checks-table" class="table hidden-xs">
    <tr>
        <th></th>
        <th class="th-name">Name</th>
        <th>Ping URL</th>
        <th class="th-period">
            Period <br />
            <span class="checks-subline">Grace</span>
        </th>
        <th>Last Ping</th>
        <th></th>
    </tr>

    {% for check in checks_to_display %}
        {% if check in accessible_checks %}

            {% for check_scope in check_scopes %}
                {% if check.code == check_scope.0.check_code %}
                    {% define check_scope.1 as scope %}
                    {% include "front/checks_display.html" %}
                {% endif %}
            {% endfor %}
            {{ scope }}
        {% else %}
            {% define true_scope as scope %}
            {% include "front/checks_display.html" %}
        {% endif %}
    {% endfor %}

</table>
