{% extends "base.html" %}
{% load compress staticfiles %}

{% block title %} Blogs - healthchecks.io {% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-8">
		<div class="col-sm-2">
			<div class="thumbnail">
				<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
			</div><!-- /thumbnail -->
		</div>
		<div>
			<p id="owner-name">Shane Harter</p>
			<p id="publish-date">June 12th 2017</p>
			<p id="read-time"> 4 min read </p>
		</div>
		<br>

		<h1 id="blog-heading">Scaling Django</h1>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, dolorem distinctio porro quam, ea cupiditate saepe expedita, ipsa tenetur, qui veniam possimus quidem assumenda ipsam architecto dignissimos illum earum illo?
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque accusantium, quia facere obcaecati error accusamus, optio, repellat ad quos mollitia dolores iure placeat hic. Accusamus ipsam nemo reiciendis, doloribus voluptatibus?
		</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, dolorem distinctio porro quam, ea cupiditate saepe expedita, ipsa tenetur, qui veniam possimus quidem assumenda ipsam architecto dignissimos illum earum illo?
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque accusantium, quia facere obcaecati error accusamus, optio, repellat ad quos mollitia dolores iure placeat hic. Accusamus ipsam nemo reiciendis, doloribus voluptatibus?
		</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, dolorem distinctio porro quam, ea cupiditate saepe expedita, ipsa tenetur, qui veniam possimus quidem assumenda ipsam architecto dignissimos illum earum illo?
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque accusantium, quia facere obcaecati error accusamus, optio, repellat ad quos mollitia dolores iure placeat hic. Accusamus ipsam nemo reiciendis, doloribus voluptatibus?
		</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, dolorem distinctio porro quam, ea cupiditate saepe expedita, ipsa tenetur, qui veniam possimus quidem assumenda ipsam architecto dignissimos illum earum illo?
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque accusantium, quia facere obcaecati error accusamus, optio, repellat ad quos mollitia dolores iure placeat hic. Accusamus ipsam nemo reiciendis, doloribus voluptatibus?
		</p>

		<a href="#"><span class="label label-info">DevOps</span></a> 
		<a href="#"><span class="label label-info">Microservices</span></a> 
		<a href="#"><span class="label label-info">Django</span></a> 
		<a href="#"><span class="label label-info">Scalling</span></a>

		<hr>
		
		<span><i class="fa fa-heart-o" aria-hidden="true"></i></span>
		<span><i class="fa fa-comment-o" aria-hidden="true"></i></span>

		<hr>

		<div class="well">

	        <h3>Leave a Comment:</h3>
		
			<h4> your email address will not be published </h4>

	        <form role="form">
	            <div class="form-group">
	                <textarea class="form-control comment-text" rows="3"></textarea><br>
	                <input type="text" name="name" class="form-control comment-input" placeholder="name"><br>
	                <input type="email" name="email" class="form-control comment-input" placeholder="email address">
	            </div>
	            <button type="submit" class="btn btn-primary comment-post">Post a comment</button>
	        </form> 
    	</div>
	</div>

	<div class="col-sm-4">
		<h2>Share</h2>

		<div>
			<a href="#" class="fa fa-google"></a>
		</div>

		<div>
    		<a href="#" class="fa fa-linkedin"></a>
		</div>

		<div>
			<a href="#" class="fa fa-facebook"></a>
		</div>

		<div>
			<a href="#" class="fa fa-twitter"></a>
		</div>
	</div>
	
</div>
{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/nouislider.min.js' %}"></script>
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script src="{% static 'js/checks.js' %}"></script>
{% endcompress %}
{% endblock %}